.collapse-container {
  align-items: center;

  .collapses-content {

    .headCollapses {
      align-items: center;
      display: flex;
      justify-content: space-between;
      font-size: 1.125rem;
      color: $tertiary-color;
      padding: 10px;
      font-weight: 700;
      background: rgb(254, 96, 97);

      @include small-radius;

      @media screen and (max-width: $breakpoint-desktop) {
        height: 30px;
        font-size: 0.813rem;
      }

      .arrow {

        cursor: pointer;
        transition: transform 0.5s ease;
      }
    }

    &.visible {
      .arrow {
        transform: rotate(-180deg);
      }

      .paragraph {
        visibility: visible;
        transition: opacity 0.3s ease;
        padding: 20px 10px;
        transform: translateY(0);
        transition: transform 0.5s ease;
      }
    }

    .paragraph {
      background: $secondary-color;
      font-size: 1.125rem;
      text-align: left;
      overflow: hidden;
      visibility: hidden;
      transform: translateY(-80px);
      display: none;

      &.animate {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 10px;
      }

      @media screen and (max-width: $breakpoint-desktop) {
        font-size: 0.813rem;
      }
    }

    li {
      font-size: 1.125rem;
      font-weight: 400;
    }
  }
}

.CollapsesButtons {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 75px;

  @media screen and (max-width: $breakpoint-desktop) {
    flex-direction: column;
    min-width: 335px;
    gap: 20px;
  }

  .description-button {
    width: 582px;

    @media screen and (max-width: $breakpoint-desktop) {
      width: 100%;
    }
  }

  .equipements-button {
    width: 582px;

    @media screen and (max-width: $breakpoint-desktop) {
      width: 100%;
    }
  }
}