.main-header {
    max-width: 1440px;
    margin: 45px 100px;

    background: $tertiary-color;

    @media screen and (max-width: $breakpoint-desktop) {
        display: flex;
        justify-content: center;
        margin: 0 10px;
    }

    .header {
        max-width: 1240px;

        align-items: center;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $breakpoint-desktop) {
            min-width: 335px;
            height: 111px;

            padding-left: 0;
        }

        @media screen and (max-width: $breakpoint-desktop) {
            img {
                width: 145px;
            }

            ul {
                align-items: center;
            }

            li {
                font-size: 0.75rem;
                width: 100%;
            }
        }

        nav {
            ul {
                display: flex;
                gap: 60px;

                a {
                    text-decoration: none;
                    text-transform: uppercase;

                    &.underline {
                        text-decoration: underline;
                    }
                }

                li {
                    margin: 0 10px;
                }
            }

            @media screen and (max-width: $breakpoint-desktop) {
                ul {
                    gap: 0;
                }
            }
        }
    }
}