.main-header {

    max-width: 1240px;
    background: rgb(255, 255, 255);

    @media screen and (max-width: $breakpoint-desktop) {
        display: block;
        justify-content: center;
    }

    .header {
        max-width: 1240px;
        padding: 40px 0;

        align-items: center;
        display: flex;
        justify-content: space-between;



        @media screen and (max-width: $breakpoint-desktop) {
            min-width: 335px;
            height: 111px;

            padding-left: 0;
        }


        @media screen and (max-width: $breakpoint-desktop) {
            img {
                width: 145px;
            }

            ul {
                align-items: center;
            }

            li {
                font-size: 0.75rem;
                width: 100%;
            }
        }

        nav {
            ul {
                display: flex;
                gap: 60px;

                a {
                    text-decoration: none;
                    text-transform: uppercase;

                    &.underline {
                        text-decoration: underline;
                    }
                }

                li {
                    margin: 0 10px;
                }
            }
        }
    }
}