.thumb {
    width: 340px;
    height: 340px;
    cursor: pointer;
    position: relative;
    transition: all 425ms ease-out;

    &:before {
        position: absolute;
        inset: 0;
        opacity: 50%;
        content: "";
        background: $fourth-color;

        @media screen and (max-width: $breakpoint-desktop) {
            display: none;
        }
    }

    &:hover {
        transform: scale(1.1);

        @media screen and (max-width: 1050px) {
            transform: none;
        }
    }

    img {
        width: 100%;
        height: 100%;
        @include small-radius;
        position: relative;
    }

    h3 {
        position: absolute;
        text-align: left;

        top: 80%;
        left: 35%;
        transform: translate(-50%, -50%);
        color: $tertiary-color;
        font-size: 1.12rem;
        font-weight: 700;
        line-height: 26px;
    }

    @media screen and (max-width: $breakpoint-desktop) {
        img {
            min-width: 335px;
            height: 255px;
            margin-bottom: 30px;
        }

        h3 {
            top: -70px;

            z-index: 1;
        }
    }
}