.collapse-container {
    display: flex;
    flex-direction: column;
    align-items: center;


    .collapses-content {
        width: 1023px;

        .collapses {
            width: 100%;
            margin-bottom: 30px;
        }

        .headCollapses {
            align-items: center;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            font-size: 24px;
            color: white;
            padding: 10px;
            font-weight: 700;
            background: rgb(254, 96, 97);

            .arrow {
                transition: transform 0.3s ease; // Ajoute une transition pour l'effet de rotation
            }
        }

        &.visible {
            .arrow {
                transform: rotate(-180deg); // Rotation de 180 degrés lorsque le collapse est visible
            }

            .paragraph {
                visibility: visible; // Rend le paragraphe visible
                transition: opacity 0.3s ease; // Ajoute une transition pour l'animation
                padding: 20px; // Ajoutez le padding ici
                transform: translateY(0);
            }
        }

        .paragraph {
            padding: 10px; // Vous pouvez ajuster le padding de base ici
            background: #f6f6f6;
            font-size: 1.125rem;
            text-align: left;
            overflow: hidden; // Masque le contenu qui dépasse de la zone
            visibility: hidden; // Rend le paragraphe invisible au départ
            transform: translateY(-80px);
        }
    }
}