.slider {

    max-width: 1240px;

    .carrousel {
        background: red;
        position: relative;

        .fa-chevron-right,
        .fa-chevron-left {
            color: white;
            cursor: pointer;
            position: absolute;
            font-size: 3.5rem;
            top: 45%;
        }

        .fa-chevron-left {
            left: 15px;
        }

        .fa-chevron-right {
            right: 15px;
        }
    }


}